LLM=gemma2:2b
SERVER_HOST=server
SERVER_PORT=8000
OLLAMA_HOST=ollama
OLLAMA_PORT=11434
WEAVIATE_HOST=weaviate
WEAVIATE_PORT=8090
MODEL=BAAI/bge-small-en-v1.5
TEI_HOST=text-embeddings-inference
TEI_PORT=8080
