LLM=gemma2:2b
SERVER_HOST=server
SERVER_PORT=8000
OLLAMA_HOST=ollama
OLLAMA_PORT=11434
WEAVIATE_HOST=weaviate
WEAVIATE_PORT=8090
MODEL=BAAI/bge-small-en-v1.5
TEI_HOST=text-embeddings-inference
TEI_PORT=8080
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=mysecret
SALT=mysalt
ENCRYPTION_KEY=mykey
LANGFUSE_INIT_ORG_ID=my-org
LANGFUSE_INIT_PROJECT_ID=ragproject
LANGFUSE_INIT_USER_EMAIL=admin@example.com
LANGFUSE_INIT_PROJECT_SECRET_KEY=s
LANGFUSE_INIT_PROJECT_PUBLIC_KEY=pk
LANGFUSE_INIT_USER_PASSWORD=admin12345
LANGFUSE_INIT_ORG_NAME=My org
LANGFUSE_INIT_PROJECT_NAME=rag project
LANGFUSE_INIT_USER_NAME=Jane doe
LANGFUSE_PROJECT_PUBLIC_KEY=pk-lf-
LANGFUSE_PROJECT_SECRET_KEY=sk-lf-1
PORT=3000
LANGFUSE_PORT=3000
LANGFUSE_HOST=langfuse
