litestar[standard,opentelemetry]
langchain>=1.0.0
langchain-classic>=1.0.0
langchain-ollama>=1.0.0
langchain-weaviate>=0.0.8
langchain-core>=1.0.0
weaviate-client
llama-index-core
llama-index-readers-file
opentelemetry-sdk
opentelemetry-api
opentelemetry-distro
opentelemetry-exporter-otlp-proto-http
httpx2
ollama
langfuse
msgspec
environ-config
redis
pydantic
